/* Container styling */
.container {
  margin: 20px;
}
.full-width-table {
    width: 100%;
  }
  
.users-container {
  padding: 1rem;
}
.table-container {
    max-height: 300px;
    overflow-y: auto;
}
.mat-table {
    width: 100%;
    white-space: nowrap;
}
.mat-header-row {
    position: sticky;
    top: 0;
    z-index: 1; /* Ensure the header stays above other elements */
}