<div class="container">
  <h2>Users</h2>
  <div style="max-height: 310px; overflow-y: auto;">
  <!-- Add New User Row -->
  <table mat-table [dataSource]="users" class="mat-elevation-z8 full-width">

    

    <!-- Existing Users -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let user">
        <div *ngIf="editRowId !== user.id">{{ user.id }}</div>
        <input *ngIf="editRowId === user.id" [(ngModel)]="editCache.id" disabled />
      </td>
    </ng-container>

    <ng-container matColumnDef="karma">
      <th mat-header-cell *matHeaderCellDef>Karma</th>
      <td mat-cell *matCellDef="let user">
        <div *ngIf="editRowId !== user.id">{{ user.karma }}</div>
        <input *ngIf="editRowId === user.id" [(ngModel)]="editCache.karma" />
      </td>
    </ng-container>

    <ng-container matColumnDef="about">
      <th mat-header-cell *matHeaderCellDef>About</th>
      <td mat-cell *matCellDef="let user">
        <div *ngIf="editRowId !== user.id">{{ user.about }}</div>
        <input *ngIf="editRowId === user.id" [(ngModel)]="editCache.about" />
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let user">
        <div *ngIf="editRowId !== user.id">
          <button mat-icon-button color="accent" (click)="startEdit(user)">
            <mat-icon>edit</mat-icon>
          </button>
       
          <button mat-icon-button color="warn" (click)="deleteUser(user.id)" >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div *ngIf="editRowId === user.id">
          <button mat-icon-button color="primary"  (click)="saveEdit()">
            <mat-icon>save</mat-icon>
          </button>
          <button mat-button (click)="cancelEdit()">Cancel</button>
        </div>
      
       
       
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="userDisplayedColumns" sticky></tr>
    <tr mat-row *matRowDef="let row; columns: userDisplayedColumns;"></tr>
  </table>
  </div>
<br><br>
  <div class="users-container">
    <!-- ADD Button -->
    <button mat-raised-button color="primary" (click)="showAddRow = true" *ngIf="!showAddRow">
      <mat-icon>add</mat-icon> Add User
    </button>
  
    <!-- Add Row Inputs -->
    <div *ngIf="showAddRow" class="add-user-form">
      <mat-form-field appearance="fill" floatLabel="always" class="custom-small">
        <mat-label>ID</mat-label>
        <input matInput [(ngModel)]="newUser.id">
      </mat-form-field>
    
      <mat-form-field appearance="fill" floatLabel="always" class="custom-small">
        <mat-label>Karma</mat-label>
        <input matInput type="number" [(ngModel)]="newUser.karma">
      </mat-form-field>
    
      <mat-form-field appearance="fill" floatLabel="always" class="custom-small">
        <mat-label>About</mat-label>
        <input matInput [(ngModel)]="newUser.about">
      </mat-form-field>
    
  
      <button mat-icon-button color="primary" (click)="addUser()">
        <mat-icon>check</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="cancelAdd()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    </div>
</div>
